[Unit] 
Description=yona


[Service] 
Type=simple
User=root
Group=root

ExecStart=/usr/yona/bin/fn_yonastart.sh
ExecStop=/usr/yona/bin/fn_yonastop.sh

RestartSec=3
Restart=always


[Install]
WantedBy=multi-user.target